.products {
	margin: 20px 0;
}

.floor2_status {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background: #2D2D2D;
	padding-top: 130px;
	padding-bottom: 130px;
}

.floor2_status > h2 {
	font-family: "OpenSans-Regular";
	font-style: normal;
	font-size: 42px;
	line-height: 55px;
	color: #FFFFFF;
	margin: 0;
	opacity: 0.8;
    text-transform: none;
    padding-top: 15px;
    margin-bottom: 9px;
}

.floor2_status > p {
	font-family: "OpenSans-Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #FFFFFF;
	padding-bottom: 55px;
	margin: 0;
}

.input_order > input {
	font-family: "OpenSans-Regular";
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #2C2C2C;
	height: 82px;
    width: 524px;
    border-radius: 5px;
    border: none;
    padding: 0 0 0 38px;
    margin-right: 19px;
}

.input_order > button {
	width: 217px;
	height: 82px;
	border: none;
    border-radius: 5px;
	background: #FF2D2D;
	font-family: "OpenSans-Bold";
	font-size: 18px;
	line-height: 34px;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	color: #FFFFFF;
}

.card {
	margin-bottom: 20px;
	transition: all .5s;
}

.card:hover {
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}

@font-face {
	font-family: "OpenSans-Regular";
	src: url('../fonts/OpenSans-Regular.ttf');
	font-style: normal;
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-family: "OpenSans-ExtraBold";
	src: url('../fonts/OpenSans-ExtraBold.ttf');
}
